<template>
  <!-- v-observe-visibility="(isVisible, entry) => visibilityChanged(isVisible, entry, {throttle: 300})" -->
  <div v-if="filterVisible" class="qlik-field-placeholder">
    <div v-if="!loaded" class="loader">TEST</div>
    <div class="test">
      <qlik-field
        v-if="loaded"
        :clickAway="false"
        :showHeader="true"
        :showArrow="false"
        :qDoc="qDoc"
        :debugMode="false"
        :fieldName="fieldName"
        :qType="qType"
      />
    </div>
  </div>
</template>

<script>
import QlikField from "sense-field-vue";
// import tempData from "../temp/fieldsdata.js";

export default {
  name: "QlikFieldPlaceholder",
  components: {
    QlikField
  },
  props: ["fieldName", "filterVisible", "qDoc", "qType"],
  directives: {},
  data() {
    return {
      isVisible: false,
      loaded: true
    };
  },
  methods: {},
  mounted: function() {},
  watch: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* .qlik-field-placeholder {
} */

.test {
  height: 100%;
}
</style>
