<template>
  <div class="search">
    <div class="search-inner">
      <div class="lui-search">
        <span class="lui-icon lui-icon--search lui-search__search-icon"></span>
        <input
          class="lui-search__input"
          maxlength="255"
          spellcheck="false"
          type="text"
          placeholder="Field search"
          v-model="filter"
          @keyup="checkForEsc"
        >
        <button class="lui-search__clear-button">
          <span class="lui-icon lui-icon--small lui-icon--close"></span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Search",
  props: {},
  data() {
    return {
      filter: ""
    };
  },
  methods: {
    checkForEsc(e) {
      let _this = this;
      if (e.keyCode == 27) {
        // _this.filter = "";
        _this.$emit("clearSearch");
      }
    }
  },
  watch: {
    filter: async function(newVal, oldVal) {        
      this.$emit("filterChange", newVal);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.search-inner {
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
</style>
