<template>
  <div id="SenseFieldView">
    <!-- <loader v-if="!fieldsExtracted"/> -->
    <div v-if="fieldsExtracted" class="SenseFieldView">
      <!-- <div>
      <div>TEST</div>-->
      <!-- <div> -->
      <!-- <div v-if="qlik.currentSelectionFields == 0" class="empty-fields-list">No Active Selections</div> -->
      <div class="fields-list">
        <!-- <span v-for="field in qlik.currentSelectionFields" :key="field.qField">{{field.qField}}</span> -->
        <qlik-field-placeholder
          v-for="field in qlik.currentSelectionFields"
          :key="field.qField"
          :fieldName="field.qField"
          filterVisible="true"
          :qDoc="qDoc"
          @fieldVisible="fieldVisible"
          qType="selections-object"
        />
      </div>
      <!-- </div> -->
      <!-- @fieldVisible="fieldVisible" -->
      <search @clearSearch="clearSearch" @filterChange="filterChange"/>
      <div class="fields-list">
        <qlik-field-placeholder
          v-for="field in allFields"
          :key="field.key"
          :fieldName="field.qName"
          :filterVisible="field.visible"
          :qDoc="qDoc"
          @fieldVisible="fieldVisible"
          qType="all-fields-object"
          debugMode="false"
        />
        <!--  -->
      </div>
    </div>
  </div>
</template>

<script>
import QlikFieldPlaceholder from "./components/QlikFieldPlaceholder.vue";
import Search from "./components/Search.vue";
// import Loader from "./components/Loader.vue";

// import tempFieldsData from "./temp/fields.js";

import enigma from "enigma.js";
import schema from "enigma.js/schemas/12.170.2.json";

function compare(a, b) {
  if (a.qName < b.qName) return -1;
  if (a.qName > b.qName) return 1;
  return 0;
}

export default {
  name: "SenseFieldView",
  components: {
    QlikFieldPlaceholder,
    Search
    // Loader
  },
  props: {
    // allFields: {
    //   type: Array,
    //   required: false,
    //   default: function() {
    //     return [
    //       {
    //         qName: "CategoryName",
    //         qCardinal: 5,
    //         qTags: ["$ascii", "$text"],
    //         qSrcTables: ["Categories"]
    //       }
    //     ];
    //   }
    // },
    // selectionFields: {
    //   type: Array,
    //   required: false,
    //   default: function() {
    //     return [
    //       {
    //         qName: "CategoryID",
    //         qCardinal: 5,
    //         qTags: ["$key", "$numeric", "$integer"],
    //         qSrcTables: ["Categories", "Products"],
    //         visible: true,
    //         values: 1
    //       }
    //     ];
    //   }
    // }
  },
  props: {
    isDebug: {
      type: Boolean,
      required: false,
      default: true
    },
    qDoc: {
      type: Object,
      required: false
    },
    allFields1: {
      type: Array,
      required: false,
      default: function() {
        return [
          {
            qName: "CategoryName",
            qCardinal: 5,
            qTags: ["$ascii", "$text"],
            qSrcTables: ["Categories"]
          }
        ];
      }
    },
    selectionFields: {
      type: Array,
      required: false,
      default: function() {
        return [
          {
            qName: "CategoryID",
            qCardinal: 5,
            qTags: ["$key", "$numeric", "$integer"],
            qSrcTables: ["Categories", "Products"],
            visible: true
          }
        ];
      }
    }
  },
  data() {
    return {
      // fields: [],
      // filter: "",
      // qFields: [],
      // qfieldsCurrentSelections: [],
      // global: {},
      // session: {},
      // qDoc: {},
      fieldsExtracted: true,
      fields: [],
      filter: "",
      // qFields: [],
      // qfieldsCurrentSelections: [],
      // global: {},
      // session: {},
      qDocData: {},
      allFields: [],
      fieldsExtracted: true,
      qlik: {
        session: {},
        qDoc: {},
        currentSelections: {},
        currentSelectionFields: []
      }
    };
  },
  methods: {
    fieldVisible: async function(fieldName) {
      // console.log(fieldName);
      // await doc.destroySessionObject(objId)
      // let d1 = []
      // let d = listObjIds.map(function (id) {
      //     return layout[`${id}`]
      // })
      // let a = Object.keys(layout).filter(function(k) {
      //     return listObjIds.includes(k)
      // })
      // console.log(a)
      // console.log(d)
      // console.log(layout)
      // return layout[`${objId}`]
      // return d
      // let lbDef = {
      //   qInfo: {
      //     qId: "",
      //     qType: "Combo"
      //   },
      //   field: {
      //     qListObjectDef: {
      //       qStateName: "$",
      //       qDef: {
      //         qFieldDefs: [],
      //         qSortCriterias: [
      //           {
      //             qSortByState: 1,
      //             qExpression: {}
      //           }
      //         ]
      //       },
      //       qInitialDataFetch: [
      //         {
      //           qTop: 0,
      //           qLeft: 0,
      //           qHeight: 100,
      //           qWidth: 1
      //         }
      //       ]
      //     }
      //   }
      // };
      // // console.log(fieldName)
      // // let ind0 = _this.qFields.findIndex(s => s.qName == fieldName);
      // // console.log(ind0);
      // // _this.qFields[ind0].values = {
      // //   qDataPages: [
      // //     {
      // //       qMatrix: [
      // //         [
      // //           {
      // //             qText: "3",
      // //             qNum: 3,
      // //             qElemNumber: 0,
      // //             qState: "S"
      // //           }
      // //         ]
      // //       ]
      // //     }
      // //   ]
      // // };
      // lbDef.field.qListObjectDef.qDef.qFieldDefs.push(fieldName);
      // let sessionObj = await _this.qDoc.createSessionObject(lbDef);
      // let fieldValues = await sessionObj.getLayout();
      // let ind = _this.qFields.findIndex(s => s.qName == fieldName);
      // _this.qFields[ind].values = fieldValues.field.qListObject; //.qDataPages[0].qMatrix
      // // console.log("all vals", _this.qFields[ind].qName, _this.qFields[ind]);
      // // _this.$forceUpdate()
      // // _this.getFields()
    },
    clearSearch() {
      this.filter = "";
    },
    filterChange: function(value) {
      this.filter = value;
    },
    getCurrentSelections: async function() {
      const sessionList = {
        qInfo: {
          qId: "",
          qType: "SessionLists"
        },
        qSelectionObjectDef: {}
      };

      let sessionObj = await this.qDocData.createSessionObject(sessionList);
      let selections = await sessionObj.getLayout();
      console.log(selections);

      sessionObj.on("changed", async function() {
        let newData = await sessionObj.getLayout();
        // self.qlik.currentSelectionFields = newData.qSelectionObject.qSelections
        console.log(newData.qSelectionObject.qSelections);
      });

      return selections;
      //   let selections = await selectionsData.getCurrSelectionFields(doc);

      //   let fieldsSelected = [];

      //   selections.qSelectionObject.qSelections.map(function(s) {
      //     fieldsSelected.push(s.qField);
      //   });

      //   let fields = await getSelectionFields(doc, fieldsSelected);
      //   // console.log(fields)
      //   return {
      //     selections: selections.qSelectionObject.qSelections,
      //     fields: fields
      //   };
    }
  },
  mounted: async function() {
    let self = this;
    let qTables = {};

    this.qDocData = this.qDoc;
    if (self.isDebug) {
      let session = enigma.create({
        schema,
        url: `ws://localhost:19076/app/engineData`,
        createSocket: url => new WebSocket(url)
      });
      let global = await session.open();
      let qsDocPath = `/data/Consumer Sales.qvf`;
      let qDoc = await global.openDoc(qsDocPath);
      self.qDoc = qDoc;
      qTables = await qDoc.getTablesAndKeys({}, {}, 0, true, false);
    }

    const sessionList = {
      qInfo: {
        qType: "SessionLists"
      },
      qSelectionObjectDef: {}
    };

    // let qTables = await qDoc.getTablesAndKeys({}, {}, 0, true, false);

    let sessionObj = await this.qDocData.createSessionObject(sessionList);
    let selections = await sessionObj.getLayout();
    self.qlik.currentSelectionFields = selections.qSelectionObject.qSelections;
    // console.log(selections);

    sessionObj.on("changed", async function(d) {
      let newData = await sessionObj.getLayout();
      self.qlik.currentSelectionFields = newData.qSelectionObject.qSelections;
      console.log(newData.qSelectionObject.qSelections);
      // console.log(newData);
    });

    self.qlik.currentSelections = selections;

    let fields = [];
    for (let table of qTables.qtr) {
      for (let field of table.qFields) {
        field.table = table.qName;
        field.key = field.qName + "" + table.qName;
        field.values = {
          qDataPages: [
            {
              qMatrix: [
                [
                  {
                    qText: "3",
                    qNum: 3,
                    qElemNumber: 0,
                    qState: "S"
                  }
                ]
              ]
            }
          ]
        };
        field.visible = true;
        if (field.qKeyType == "NOT_KEY") {
          fields.push(field);
        }
      }
    }
    let sorted = fields.sort(compare);
    // _this.qFields = sorted;
    self.allFields = sorted;
    // self.allFields.push(sorted[0]);
  },
  asyncComputed: {
    getAllFields1: async function() {
      // let _this = this;
      // let session = enigma.create({
      //   schema,
      //   url: `ws://localhost:19076/app/engineData`,
      //   createSocket: url => new WebSocket(url)
      // });
      // let global = await session.open();
      // let qsDocPath = `/data/Consumer Sales.qvf`;
      // let qDoc = await global.openDoc(qsDocPath);
      // _this.qDoc = qDoc;
      // let qTables = await qDoc.getTablesAndKeys({}, {}, 0, true, false);
      // let fields = [];
      // for (let table of qTables.qtr) {
      //   for (let field of table.qFields) {
      //     field.table = table.qName;
      //     field.key = field.qName + "" + table.qName;
      //     field.values = {
      //       qDataPages: [
      //         {
      //           qMatrix: [
      //             [
      //               {
      //                 qText: "3",
      //                 qNum: 3,
      //                 qElemNumber: 0,
      //                 qState: "S"
      //               }
      //             ]
      //           ]
      //         }
      //       ]
      //     };
      //     field.visible = true;
      //     if (field.qKeyType == "NOT_KEY") {
      //       fields.push(field);
      //     }
      //   }
      // }
      // let sorted = fields.sort(compare);
      // // _this.qFields = sorted;
      // _this.allFields = sorted;
      // // return true;
      // return sorted;
      // // _this.qFields = sorted;
      // // console.log(sorted)
      // // return sorted
      // // let sessionObj = await qDoc.createSessionObject({
      // //   qInfo: {
      // //     qId: "",
      // //     qType: "SessionLists"
      // //   },
      // //   qSelectionObjectDef: {}
      // // });
      // // let selections = await sessionObj.getLayout();
      // // await qDoc.destroySessionObject(selections.qInfo.qId);
      // // // console.log(selections)
      // // _this.qfieldsCurrentSelections = selections.qSelectionObject.qSelections;
      // // _this.fieldsExtracted = true;
      // // await session.close();
    }
    // getFields: function() {
    //   let _this = this;
    //   let currentSelectionFields = _this.qfieldsCurrentSelections.map(function(
    //     f
    //   ) {
    //     return f.qName;
    //   });
    //   let result = [];
    //   if (_this.filter.length > 0) {
    //     result = _this.qFields.filter(function(f) {
    //       return (
    //         f.qName.toLowerCase().indexOf(_this.filter.toLowerCase()) !== -1 &&
    //         currentSelectionFields.indexOf(f.qName) == -1 &&
    //         !f.qIsHidden
    //       );
    //     });
    //   } else {
    //     result = _this.qFields.filter(function(f) {
    //       if (!f.values) {
    //         // console.log('added')
    //         f.values = {
    //           qDataPages: [
    //             {
    //               qMatrix: []
    //             }
    //           ]
    //         };
    //       }
    //       // console.log('init vals', f.qName)
    //       return currentSelectionFields.indexOf(f.qName) == -1 && !f.qIsHidden;
    //     });
    //   }
    //   // console.log(result)
    //   return result;
    // },
    // getCurrentSelectionFields: function() {
    //   let _this = this;
    //   // return tempFieldsData.currentSelections;
    //   return _this.qfields;
    // }
  },
  watch: {}
};
</script>

<style>
#SenseFieldView {
  height: 100vh;
  display: grid;
  grid-template-rows: calc(100vh - 40px);
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

.SenseFieldView {
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 48fr 2fr 48fr;
}

.sense-field-view-main {
  display: grid;
  grid-template-rows: calc(45% - 25px) 50px calc(50% - 25px);
  overflow: hidden;
  max-height: 100vh;
}

.fields-list {
  display: grid;
  grid-template-rows: calc(100% - 20px);
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  overflow-x: scroll;
}
</style>
